{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Xpresarte</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#bienvenida">Bienvenida</a></li>
        <li><a href="#creador">Creador</a></li>
        <li><a href="#proyecto">Proyecto</a></li>
        <li><a href="#equipo">Equipo</a></li>
        <li><a href="#agradecimiento">Agradecimiento</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

</body>
</html>
